@page "/not-found"
@layout MainLayout

<div class="error">
    <img src="images/error.webp" alt="Figura 3D da Adonai com passarinhos em volta.">
    <h3>404 | Oxi, não existe!</h3>
    <p>Essa página que você acessou não existe, boy.</p>

    <a type="button" class="back-button" href="/">
        Voltar para o Chat
    </a>
</div>