<div class="card">
    <div class="chat-history">
        <div class="message">
            <div class="avatar d-flex align-content-end flex-wrap ">
                <img src="images/assets/side-eye.webp" alt="Adonai fazendo Joinha">
            </div>
            <p class="ai-text">Faaala rapaz, qual código você quer que eu analise?</p>
        </div>
        <div class="message">
            <p class="human-text">
                Mana, queria que você olhasse esse problema de compilação que tô tendo aqui no javascript.</p>
            </div>
        </div>


        <div class="input-area">
            <button
                class="file-button"
                title="Adicione o arquivo para análise"
                data-toggle="tooltip"
                data-placement="top"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-file-earmark-code" viewBox="0 0 16 16">
                    <path
                    d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z" />
                    <path
                    d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708m-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708" />
                </svg>
            </button>

            <textarea
                class="text-area"
                name=""
                id=""
                placeholder="Escreva o que você quer ver sobre o seu código..."
            >
            </textarea>
            <button
                class="send-button"
                title="Enviar"
                data-toggle="tooltip"
                data-placement="top"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-arrow-up"
                    viewBox="0 0 16 16"
                >
                    <path fill-rule="evenodd"
                          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
                    />
                </svg>
            </button>
        </div>
    </div>