.page {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  max-height: 100vw;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content ::deep .back-button {
  background-color: white;
  color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
}
