@inherits LayoutComponentBase
<div class="page">
    <main class="d-flex justify-content-center align-items-center">
        <article class="content px-4 py-4 mh-100 flex justify-content-betwwen">
            @Body
        </article>
    </main>
</div>
