<footer>
    <h5>Adonai © 2025</h5>
    <p>Projeto de Conclusão do BootCamp da Parceria entre IMD e AKCIT</p>
    <p>Lecinado por: <a href="https://www.docente.ufrn.br/201900339581/perfil">Alysson Matheus</a> e <a href="http://linkedin.com/in/juliadollis">Julia Dollis</a>.</p>
</footer>