<header>
    <div class="d-flex justify-content-center">
        <img src="images/computer.webp" alt="Figura 3D da Adonai com um computador.">
        <h1>Adonai</h1>
    </div>
    <p>Sua Revisora de Códigos com IA</p>
</header>